@charset "utf-8";
* {
	margin:0;
	padding:0;
}

html {
	overflow-y:scroll;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
	line-height: 1.4;
	font-size: small !important; /* for IE 7 */
	font-size: small; /* for IE 6 and lower */
	text-align: center;
	margin: 0px auto;
	width: 480px;
}

html>/**/body {
    font-size: 12px; /* for modern browser */
}

div.contents {
	margin:0 auto 0 auto;
	text-align:center;
}

div.resultMessage{ 
	text-align: left;
	font-size:120%;
	color: green;
}

div.errorResultMessage{ 
	text-align: left;
	font-size:120%;
	color: red;
}

div.errorbox {
	width: 350px;
	margin: 1em auto;
	text-align: left;
}
.errorbox ul{
	color: red;
}

.red {color: red; font-weight: normal}

table.noline {
	width: 480px;
	border-spacing:0;
}

table.testTable {
	width: 480px;
	border-spacing:0;
}

.testTable td {
	text-align: left;
}


table.customer {
	width: 480px;
	border-top:1px solid #000000;
	border-left:1px solid #000000;0;
	border-collapse:collapse;
	empty-cells:show;
	border-spacing:0;
	text-align: left;
}

.customer th {
	background-color: #DDDDFF;
	text-align: center;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:0.3em 1em;
}

.customer th.name {
	width: 40%;
}

.customer th.value {
	width: 60%;
}

.customer td {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:0.3em 1em;
}

table.settlement {
	width: 480px;
	border-top:1px solid #000000;
	border-left:1px solid #000000;0;
	border-collapse:collapse;
	empty-cells:show;
	border-spacing:0;
	text-align: left;
}

.settlement th {
	background-color: #DDDDFF;
	text-align: center;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:0.3em 1em;
}

.settlement th.type {
	width: 40%;
}

.settlement th.pal {
	width: 60%;
}

.settlement td {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:0.3em 1em;
}



table.cart {
	width: 480px;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-collapse:collapse;
	empty-cells:show;
	border-spacing:0;
}

.cart th {
	background-color: #DDDDFF;
	text-align: center;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:0.3em 1em;
}

.cart th.name {
	width: 45%;
}

.cart th.unitp {
	width: 20%;
}

.cart th.num {
	width: 15%;
}

.cart th.sum {
	width: 20%;
}

.cart td {
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:0.3em 1em;
}

.cart td.name {
	text-align: left;
}

.cart td.num {
	text-align: right;
}

.cart td.unitp {
	text-align: right;
}

.cart td.sum {
	text-align: right;
}
